doctype
html(lang="ko")
  head
    meta(charset="UTF-8")
    title GroupBoard
  body
    div#container
      div.sidebar
        div#profile 여기는 프로필
        div#menu 여기는 메뉴
          ul
            li Home
            li Write
            li today
      block content

  link(rel="stylesheet",href="main.css")
  script(src="main.js")